<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FCE239990E9BC5CB00F949F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCE239C60E9BC5CF00F949F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCE23B6D0E9BDA5600F949F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
